.orders-archive{

  .panel {
    // cursor: pointer;
    .actions {
      min-width: 210px;
      text-align: right;
      button+button {
        margin: 0;
      }
      a{
        margin-right: 5px;
      }
    }
    .panel-body h4.media-heading{
      margin-bottom: 5px;
    }
    .media-body{
      vertical-align: middle;
      .label{
        margin-right: 5px;
      }
      // p{
      //   margin-bottom: 0;
      //   // margin-top: 10px;
      // }
    }
  }
  // .panel:hover {
  //   .panel-body h4.media-heading{
  //     text-decoration: underline;
  //   }
  // }
}
