.sub-header{
  background: #909090;
  .row{
    display: flex;
    align-items: center;
  }

  .right{
    display: flex;
    justify-content: flex-end;
    .btn-default{
      color: white;
      border-color: white;
    }
    .btn-default:hover, .btn-default:focus, .btn-default:active{
        background-color: rgba(255, 255, 255, 0.3);
    }
    .btn+.btn {
      margin-bottom: 0;
      margin-left: 5px;
    }
  }

  h3{
    color: #fff;
    font-size: 1.3rem;
    margin: 1rem 0 1rem 0px;

    span.small{
      color: white;
      font-size: 90%;
    }
  }
}
