@import url('https://fonts.googleapis.com/css?family=Roboto:400,500');

$blusIshGrey: #F3F4F9;
$lightGrey: #ccc;
$darkGrey: #4A4A4A;
$yellow: #FEBC75;
$blue: #75B4FE;
$cyanblue: #72bace;
$red: #F08A8A;
$green: #83C883;
$purple: #7D75FE;
$deepRed: #ad6d6d;

body{
  background: $blusIshGrey;
  color: $darkGrey;
  font-family: 'Roboto','Helvetica Neue',Helvetica,Arial,sans-serif;

  button,
  input,
  optgroup,
  select,
  textarea {
    font-family: 'Roboto','Helvetica Neue',Helvetica,Arial,sans-serif;
  }

  label, b, strong{
    font-weight: 500;
  }

  .btn-default{
    background-color: transparent;
    border-color: $lightGrey;
  }
  .btn-default:hover, .btn-default:focus, .btn-default:active{
    background-color: rgba(0, 0, 0, 0.05);
  }

  .btn-danger{
    background-color: transparent;
    color: darken( $red, 20% );
    border-color: $red;
  }
  .btn-danger:hover, .btn-danger:focus, .btn-danger:active{
      background-color: darken( $red, 10% );
      border-color: darken( $red, 30% );
  }
  .btn-danger:focus.btn-danger:active{
      background-color: darken( $red, 30% );
      border-color: darken( $red, 50% );
  }

  .form-control{
    box-shadow: none;
  }

  .navbar{
    background-color: white;
    border: none;

    .navbar-brand{
      img{
        width: 90px;
      }
    }

    .navbar-nav>li>a {
        color: $darkGrey;
    }
  }

  .sidebar{
    .venue-selector{
      background-color: $darkGrey;
    }
    ul .active>a, ul .active>a:focus, ul .active>a:hover {
      background-color: #7d868e;
    }
    .sub.active{
      >a, >a:focus, >a:hover {
        border-left: 5px solid $blue;
        padding-left: 25px;
      }
    }
    .sub.orders_sub.active{
      >a, >a:focus, >a:hover {
        border-left: 5px solid $green;
      }
    }
  }

  .panel{
    border-radius: 0;
    border: none;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);
    .panel-body{
      h4.media-heading{
        font-weight: 400;
        margin-bottom: 10px;
      }
    }
    margin-bottom: 10px;
  }
  span.label {
    font-weight: 400;
    font-size: 0.9rem;
    display: inline-block;
    padding: 5px 7px;
    margin: 0 3px 3px 0;
  }

  .form-footer{
    padding-top: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
    .btn+.btn {
      margin-bottom: 0;
      margin-left: 5px;
    }
  }

  .modal-dialog{
    .form-footer{
      margin: 0 -15px;
      padding: 15px 15px 0 15px;
    }
  }

  .bg-yellow{
    background-color: $yellow;
  }
  .bg-blue{
    background-color: $blue;
  }
  .bg-cyanblue{
    background-color: $cyanblue;
  }
  .bg-red{
    background-color: $red;
  }
  .bg-green{
    background-color: $green;
  }
  .bg-purple{
    background-color: $purple;
  }
  .bg-deepRed{
    background-color: $deepRed;
  }
  .bg-grey{
    background-color: $darkGrey;
  }

  @keyframes spin {
      from { transform: scale(1) rotate(0deg); }
      to { transform: scale(1) rotate(360deg); }
  }

  // Modal over modal cover fix
  div[aria-hidden=true]{
    div.modal{
      z-index: 1040 !important;
    }
  }
}

.checkbox{
  margin: 0 auto;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
   opacity: 1;
}
