.product-import{
  padding-top: 2rem;
  .panel{
    .panel-body h4.media-heading{
      margin: 0;
      font-weight: 400;
    }
  }

  .catalog-item{
    .media-left{
      div{
        width: 50px;
        text-align: center;
        img{
          max-width: 50px;
          max-height: 50px;
        }
      }
      div.admin{
        width: 150px;
        text-align: center;
        img{
          max-width: 150px;
          max-height: 150px;
        }
      }
    }
  }

  .product-parser{
    input{
      margin: 10px 0 0;
    }
    h4{
      font-size: 16px;
    }
    .alert-warning{
      margin: 10px 0 0;
    }
    select.form-control{
      margin-top: 10px;
    }
  }

  .product-adder{
    .panel{
      .page-header{
        padding-bottom: 10px;
        margin: 0 0 20px;
        border-bottom: 1px solid #eee;
        h4{
          display: inline-block;
        }
      }
      .btn+.btn{
        margin-right: 5px;
      }
    }
    .progress{
      margin-bottom: 0;
    }
    .alert-info{
      margin: 10px 0;
    }
  }

  .catalog-item{
    padding: 10px 0;
    margin-top: 0;
    border-top: 1px solid #e8e8e8;
    .media-body h4.media-heading{
      font-size: 16px;
      margin-bottom: 5px;
    }
    p{
      margin-bottom: 0;
      span.label{
        font-weight: 400;
      }
    }
  }
}
