.settings{
  h4{
    font-size: 18px;
    margin-top: 0;
  }
  span.label{
    font-size: 0.8rem;
  }
  .member{
    border-top: 1px solid #e5e5e5;
    padding-bottom: 10px;
    h5{
      margin-bottom: 5px;
      font-size: 14px;
    }
    button{
      margin-left: 5px;
    }
  }
}
