.venue{
  padding-top: 2rem;
  .panel {
    cursor: pointer;
    .actions {
      min-width: 210px;
      text-align: right;
      .btn+.btn {
        margin-bottom: 0;
        margin-left: 5px;
      }
    }
    .panel-body h4.media-heading{
      margin: 0;
    }
    .media-body{
      vertical-align: middle;
    }
  }
  .panel:hover {
    .panel-body h4.media-heading{
      text-decoration: underline;
    }
  }
}
