.venue{
  padding-top: 2rem;
  .panel.breadcrumbs{
    cursor: pointer;
    background: #7b7b7b;
    color: white;
    h4{
      margin:0;
      font-size: 16px;
    }
  }
  .panel.breadcrumbs:hover{
    h4{
      text-decoration: underline;
    }
  }
}
.venue-list-item.panel.placements{
  cursor: auto;
}
.venue-list-item.panel.placements:hover{
  .panel-body h4.media-heading{
    text-decoration: none;
  }
}
.venue-list-item.panel {
  cursor: pointer;
  .actions {
    min-width: 210px;
    text-align: right;
    button+button {
      margin: 0;
    }
    button{
      display: inline-block;
      border: none;
      background: none;
      outline: none;
      img{
        width: 24px;
        user-select: none;
      }
    }
    button.sort{
      margin-right: 5px;
      cursor: ns-resize;
    }
  }
  .panel-body h4.media-heading{
    margin: 0;
  }
  .media-body{
    vertical-align: middle;
  }
}
.venue-list-item.panel:hover {
  .panel-body h4.media-heading{
    text-decoration: underline;
  }
}
