.add-product-dialog{
  .media:first-of-type{
    border-top: none;
  }
  .media{
    padding: 10px 0;
    margin-top: 0;
    border-top: 1px solid #e8e8e8;
    h4{
      font-size: 16px;
    }
    p{
      margin-bottom: 0;
      span.label{
        font-weight: 400;
      }
    }
  }

}
