.products{
  padding-top: 2rem;
  .media-left{
    div{
      width: 70px;
      text-align: center;
      img{
        max-width: 70px;
        max-height: 70px;
      }
    }
  }
  .media-heading{
    min-height: 22px;
  }
  .media-body{
    span.label+span.label{
      margin-left: 5px;
    }
  }
}

.delete-product-dialog{
  .product{
    text-align: center;
    margin-top: 10px;
    img{
      max-width: 300px;
      max-height: 300px;
    }
  }
}

.product-form-footer{
  // padding: 15px 0 0;
  text-align: right;
  // border-top: 1px solid #e5e5e5;
  .btn+.btn {
    margin-bottom: 0;
    margin-left: 5px;
  }
}
