.report{

  .media-left{
    div{
      width: 70px;
      text-align: center;
      img{
        max-width: 70px;
        max-height: 70px;
      }
    }
  }

  .panel{
    cursor: pointer;
  }
  .panel:hover {
    .panel-body h4.media-heading{
      text-decoration: underline;
    }
  }

  div.collapse{
    div.alert{
      margin-bottom: 0;
    }
  }

  .stats{
    width: 270px;
    div{
      text-align: center;
      display: inline-block;
      width: 90px;
      label{
        font-weight: 400;
      }
      p{
        font-size: 22px;
      }
    }
  }
  .area{
    margin-bottom: 10px;
    .area-row{
      font-weight: 500;
      background: #e6e6e6;
      padding: 10px;
    }
    .section-row{
      font-size: 12px;
      background: #F2F2F2;
      padding: 10px;
      border-top: 2px solid white;
    }
  }
  .area:last-of-type{
    margin-bottom: 0;
  }
}
