.report{
  .media-left{
    div{
      width: 70px;
      text-align: center;
      img{
        max-width: 70px;
        max-height: 70px;
      }
    }
  }

  .panel{
    cursor: pointer;
  }
  .panel:hover {
    .panel-body h4.media-heading{
      text-decoration: underline;
    }
  }

  div.collapse{
    div.alert{
      // margin-bottom: 0px; TODO creates a jumping bug when toggling the collapse
    }
  }

  .stats{
    width: 270px;
    .low{
      color: #d9534f;
    }
    div{
      text-align: center;
      display: inline-block;
      vertical-align: top;
      width: 90px;
      label{
        font-weight: 400;
      }
      p{
        font-size: 20px;
        margin-bottom: 0;
      }
      span{
        font-size: 12px;
      }
    }
  }
  .area{
    margin-bottom: 10px;
    .area-row{
      font-weight: 500;
      background: #e6e6e6;
      padding: 10px;
    }
    .section-row{
      font-size: 12px;
      background: #F2F2F2;
      padding: 10px;
      border-top: 2px solid white;
    }
  }
  .area:last-of-type{
    margin-bottom: 0;
  }
}
.glyphicon.spinning.live {
    animation: spin 3s infinite linear;
    font-size: 14px;
    margin-left: 3px;
}

.report-stats{
  text-transform: capitalize;
  h5{
    background: #a7a7a7;
    color: white;
    padding: 10px 15px 10px 15px;
    margin: -15px -15px 10px -15px;
  }
  span{
    float: right;
  }
  .type{
    font-weight: 500;
  }
  .category{
    padding-left: 5px;
    margin-top: 8px;
    margin-bottom: 3px;
    font-weight: 500;
  }
  .sub-category{
    padding: 0 0 0 10px;
  }
  .sub-category:hover{
    background: #f4f4f4;
    margin: 0 -15px;
    padding: 0 15px 0 25px;
  }
}
